body{
	font-family: 'Hind Siliguri', Open Sans;
}
.player-console {
  display: none;
}
.what{
  height: 450px;
}
input[type=text], select {
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	background-color: #ccc;
}
.btn{
    background-color: 	#3232ff;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 30px;
}
.embed {
	width : 600px;
	height: 600px;
	padding: 12px 20px;
	margin: 8px 0;
	float: right;
	grid-column:1 / span 3;
}
h2 {
	color: black;
}
.what {
	float: left;
}
